<!DOCTYPE html>
<html>
<title>TheatriCAL</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Fullcalendar CSS -->
<link href='/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
<link href='/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

<!-- Admin Console CSS -->
<link rel="stylesheet" href="/css/admin.css">

<!-- Fullcalendar JS -->
<script src='/fullcalendar/moment.min.js' defer></script>
<script src='/fullcalendar/jquery.min.js' defer></script>
<script src='/fullcalendar/fullcalendar.min.js' defer></script>

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>

<!-- Admin Console JS -->
<script src="/js/admin.js" defer></script>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3w3-hover-white">Home</a>
    <div class="dropdown">
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-white">Productions <i class="fa fa-caret-down"></i></a>
      <div class="dropdown-content" style="margin-top: 50px;">
        <!-- <%# for(production of productions){ %>
          <a href="#"><%#= production.name %></a>
        <%# } %> -->
      </div>
    </div>
    <a href="/users/<%=user%>/profile" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profile</a>
    <a href="/auth/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <div class="dropdown w3-bar-item w3-button w3-padding-large">
      <a href="#" class="">Productions <i class="fa fa-caret-down"></i></a>
      <div class="dropdown-content">
        <!-- <%# for(production of productions){ %>
          <a href="#"><%#= production.name %></a>
        <%# } %> -->
      </div>
    </div>
    <a href="/users/<%=user%>/profile" class="w3-bar-item w3-button w3-padding-large">Profile</a>
    <a href="#login" class="w3-bar-item w3-button w3-padding-large">Login</a>
    <a href="#register" class="w3-bar-item w3-button w3-padding-large">Register</a>
  </div>
</div>



<br>
<br>
<h3 style="text-align: center"><%= production.name %></h3>
<!-- <div class="id-field"><%= production.id %></div> -->
<ul class="uk-subnav uk-subnav-pill" uk-switcher>
    <li style="width:50%; text-align: center;"><a href="#">Production Schedule</a></li>
    <li style="width:50%; text-align: center;"><a href="#">Cast List</a></li>
</ul>

<ul class="uk-switcher uk-margin">

    <!-- Calendar -->
    <li id="calendar"></li>

    <!-- Production Schedule -->
    <li>
      <div class="uk-margin" style="text-align: center;">
          <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #addActor">Add</button>
      </div>

      <!-- Add Actor Modal -->
      <div id="addActor" uk-modal>
       <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Add actor</h2>
        <form action="#" method="POST">
          <fieldset class="uk-fieldset">

            <div class="uk-margin">
              <input class="uk-input" id="actor_first_name" name="first_name" type="first_name" placeholder="First name" value="">
            </div>

            <div class="uk-margin">
              <input class="uk-input" id="actor_last_name" name="last_name" type="last_name" placeholder="Last name" value="">
            </div>

            <div class="uk-margin">
              <input class="uk-input" id="actor_email" name="email" type="email" placeholder="Email" value="">
            </div>

            <div class="uk-margin">
              <input class="uk-input" id="actor_phone" name="phone" type="phone" placeholder="Phone ('555-555-5555')" value="">
            </div>

            <div class="uk-margin">
              <input class="uk-input" id="actor_character" name="character" type="text" placeholder="Part" value="">
            </div>

            <div class="uk-margin">
              <input class="uk-input" id="blackout_dates" name="blackout_dates" type="text" placeholder="Blackout dates ('2018-12-5, 2018-11-2, 2018-4-12, etc...')" value="">
            </div>

            <div class="uk-margin">
              <button id="btnEdit" class="uk-button uk-button-default btn btn-action">Submit</button>
            </div>

          </fieldset>
        </form>
       </div>
      </div>
      <table>
          <tr>
            <th>Name</th>
            <th>Part</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Blackout Dates</th>
          </tr>
        <% for(actor of actors){ %>
          <tr>
            <td><%=actor.first_name%> <%=actor.last_name%></td>
            <td><%=actor.character%></td>
            <td><%=actor.email%></td>
            <td><%=actor.phone%></td>
            <td><%=actor.blackout_dates%></td>
          </tr>
        <% } %>
      </table>
    </li>
</ul>

<div id="add-date" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <container id="add-date_Container">
          <form action="/users/<%=user%>/productions/<%=production.id%>?_method=PATCH" method="POST">
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Sign In</legend>

                <div class="uk-margin">
                    <select class="uk-input" id="type" name="type">
                      <option value="rehearsal">Rehearsal</option>
                      <option value="performance">Performance</option>
                    </select>
                </div>

                <!-- <div class="uk-margin">
                    <input class="uk-input" id="txtPassword" type="password" name="password" placeholder="Password">
                    <div class="nativeDatePicker"> -->
      <label for="bday">Enter the date</label>
      <input type="date" id="bday" name="bday">
      <span class="validity"></span>
    <!-- </div> -->
    <!-- <p class="fallbackLabel">Enter your birthday:</p>
    <div class="fallbackDatePicker">
      <span>
        <label for="day">Day:</label>
        <select id="day" name="day">
        </select>
      </span>
      <span>
        <label for="month">Month:</label>
        <select id="month" name="month">
          <option selected>January</option>
          <option>February</option>
          <option>March</option>
          <option>April</option>
          <option>May</option>
          <option>June</option>
          <option>July</option>
          <option>August</option>
          <option>September</option>
          <option>October</option>
          <option>November</option>
          <option>December</option>
        </select>
      </span> -->
      <!-- <span>
        <label for="year">Year:</label>
        <select id="year" name="year">
        </select>
      </span>
    </div> -->
                <!-- </div> -->

                <div class="uk-margin">
                    <button id="btnLogin" class="uk-button uk-button-default btn btn-action">Add</button>
                </div>

            </fieldset>
          </form>
</container>
    </div>
</div>



<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
 <p>© 2018 Tim Burns, Chris Casey, and Hunter Jefferson. ALL RIGHTS RESERVED. | AUSTIN, TX</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
