<!DOCTYPE html>
<html>
<title>TheatriCAL</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Fullcalendar CSS -->
<link href='/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
<link href='/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

<!-- Admin Console CSS -->
<link rel="stylesheet" href="/css/admin.css">

<!-- Fullcalendar JS -->
<script src='/fullcalendar/moment.min.js' defer></script>
<script src='/fullcalendar/jquery.min.js' defer></script>
<script src='/fullcalendar/fullcalendar.min.js' defer></script>

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>

<!-- Admin Console JS -->
<script src="/js/admin.js" defer></script>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3w3-hover-white">Home</a>
    <div class="dropdown">
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-white">Productions <i class="fa fa-caret-down"></i></a>
      <div class="dropdown-content" style="margin-top: 50px;">
        <!-- <%# for(production of productions){ %>
          <a href="#"><%#= production.name %></a>
        <%# } %> -->
      </div>
    </div>
    <a href="/users/<%=user%>/profile" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profile</a>
    <a href="/auth/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <div class="dropdown w3-bar-item w3-button w3-padding-large">
      <a href="#" class="">Productions <i class="fa fa-caret-down"></i></a>
      <div class="dropdown-content">
        <!-- <%# for(production of productions){ %>
          <a href="#"><%#= production.name %></a>
        <%# } %> -->
      </div>
    </div>
    <a href="/users/<%=user%>/profile" class="w3-bar-item w3-button w3-padding-large">Profile</a>
    <a href="#login" class="w3-bar-item w3-button w3-padding-large">Login</a>
    <a href="#register" class="w3-bar-item w3-button w3-padding-large">Register</a>
  </div>
</div>



<br>
<br>
<h3 style="text-align: center"><%= production.name %></h3>
<!-- <div class="id-field"><%= production.id %></div> -->
<ul class="uk-subnav uk-subnav-pill" uk-switcher>
    <li style="width:50%; text-align: center;"><a href="#">Production Schedule</a></li>
    <li style="width:50%; text-align: center;"><a href="#">Cast List</a></li>
</ul>

<ul class="uk-switcher uk-margin">

    <!-- Calendar -->
    <li id="calendar"></li>

    <!-- Production Schedule -->
    <li>
      <table>
          <tr>
            <th>Name</th>
            <th>Part</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Blackout Dates</th>
          </tr>
        <% for(actor of actors){ %>
          <tr>
            <td><%=actor.first_name%> <%=actor.last_name%></td>
            <td><%=actor.character%></td>
            <td><%=actor.email%></td>
            <td><%=actor.phone%></td>
            <td><%=actor.blackout_dates%></td>
          </tr>
        <% } %>
      </table>
    </li>
</ul>



<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
 <p>© 2018 Tim Burns, Chris Casey, and Hunter Jefferson. ALL RIGHTS RESERVED. | AUSTIN, TX</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
