<!DOCTYPE html>
<html>
<title>TheatriCAL</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.navbar {overflow: hidden; background-color: #333; font-family: Arial, Helvetica, sans-serif;}
.navbar a {float: left; font-size: 16px; color: white; text-align: center; padding: 14px 16px; text-decoration: none;}
.dropdown {float: left; overflow: hidden;}
.dropdown .dropbtn {font-size: 16px; border: none; outline: none; color: white; padding: 14px 16px; background-color: inherit; font-family: inherit; margin: 0;}
.navbar a:hover, .dropdown:hover .dropbtn {background-color: red;}
.dropdown-content {display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
.dropdown-content a {float: none; color: black; padding: 12px 16px; text-decoration: none; display: block; text-align: left;}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.uk-link, a {color: black !important;}
</style>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <div class="dropdown">
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Productions <i class="fa fa-caret-down"></i></a>
      <div class="dropdown-content" style="margin-top: 50px;">
        <!-- <%# for(production of productions){ %>
          <a href="#"><%#= production.name %></a>
        <%# } %> -->
      </div>
    </div>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white w3-hover-white">Profile</a>
    <a href="/auth/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <div class="dropdown w3-bar-item w3-button w3-padding-large">
      <a href="#" class="">Productions <i class="fa fa-caret-down"></i></a>
      <div class="dropdown-content">
        <!-- <%# for(production of productions){ %>
          <a href="#"><%#= production.name %></a>
        <%# } %> -->
      </div>
    </div>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Profile</a>
    <a href="/auth/logout" class="w3-bar-item w3-button w3-padding-large">Logout</a>
  </div>
</div>



<!-- Page Container -->
<div style="display: flex; justify-content: center;">
<div class="" style="max-width:100%; min-width: 50%; margin-top:80px;">
  <!-- The Grid -->
  <div class="">
    <!-- Left Column -->
    <div class="">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center" style="margin-top: 15px">My Profile</h4>
         <p class="w3-center"><img src="https://www.hadiwinata.com/assets/up/bb-plugin/cache/sample-profile-circle.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i><%= user.first_name %> <%= user.last_name %></p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i><%= user.email %></p>
         <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i><%= user.phone %></p>
         <p><a href="#edit" uk-toggle><i class="fa fa-edit fa-fw w3-margin-right w3-text-theme"></i>Edit profile</a></p>
        </div>
      </div>
      <br>



      <!-- Edit profile Model -->
      <div id="edit" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <container id="edit_profile">
            <form action="/users/<%=user.id%>?_method=PATCH" method="POST">
              <fieldset class="uk-fieldset">

                <legend class="uk-legend">Edit profile info</legend>

                <div class="uk-margin">
                  <input class="uk-input" id="first_name" name="first_name" type="first_name" value="<%=user.first_name%>">
                </div>

                <div class="uk-margin">
                  <input class="uk-input" id="last_name" name="last_name" type="last_name" value="<%=user.last_name%>">
                </div>

                <div class="uk-margin">
                  <input class="uk-input" id="email" name="email" type="email" value="<%=user.email%>">
                </div>

                <div class="uk-margin">
                  <input class="uk-input" id="phone" name="phone" type="phone" value="<%=user.phone%>">
                </div>

                <div class="uk-margin">
                  <button id="btnEdit" class="uk-button uk-button-default btn btn-action">Submit</button>
                </div>

              </fieldset>
            </form>
          </container>
        </div>
      </div>





      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Productions</button>
          <div id="Demo1" class="w3-hide w3-container">
            <ul>
              <% for(production of productions){ %>
                <h4><%= production.name %></h4></a>
                <form action="#">
                    <input type="submit" value="Edit production" />
                </form>
                <form method="POST" action="#">
                    <button type="submit">Delete production</button>
                </form>
              <% } %>
            </ul>
          </div>

        </div>
      </div>
      <br>


    <!-- End Left Column -->
    </div>
  </div>
    <!-- <div class="w3-col m7">






    </div>

    <!-Right Column -->
    <div class="">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <br>
          <p>Upcoming Rehearsals:</p>
          <% for(production of productions){ %>
            <% if (production.rehearsal_dates) { %>
              <p><strong><%= production.name %></strong></p>
              <p><%= production.rehearsal_dates %></p>
              <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
            <% } %>
          <% } %>
        </div>
      </div>
      <br>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
</div>




<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
 <p>© 2018 Tim Burns, Chris Casey, and Hunter Jefferson. ALL RIGHTS RESERVED. | AUSTIN, TX</p>
</footer>
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</body>
</html>
